services:
  scanner:
    build: .
    environment:
      PYTHONUNBUFFERED: 1
      BULLETIN_DATA: ${BULLETIN_DATA}
      FTP_DATA: ${FTP_DATA}
    volumes:
      - ${FTP_DATA}:/app/${FTP_DATA}
    restart: always

  ftp:
    build:
      context: .
      dockerfile: ftp.Dockerfile
      args:
        CERT_FINGERPRINT: ${CERT_FINGERPRINT}
    container_name: ftp
    environment:
      FTP_USER: ${FTP_USER}
      FTP_PASS: ${FTP_PASS}
      PASV_ADDRESS: ${FTP_ADDR}
      PASV_MIN_PORT: ${FTP_MIN_PORT}
      PASV_MAX_PORT: ${FTP_MAX_PORT}
      LOG_STDOUT: YES
      FTP_MODE: ${FTP_MODE}
    ports:
      - "20:20"
      - "21:21"
      - "${FTP_MIN_PORT}-${FTP_MAX_PORT}:${FTP_MIN_PORT}-${FTP_MAX_PORT}"
      - "990:990"
    volumes:
      - ${FTP_DATA}:/home/vsftpd/${FTP_USER}
    restart: always