services:
  ofelia:
    image: mcuadros/ofelia:latest
    depends_on:
      - scanner
    command: daemon --docker -f label=com.docker.compose.project=${COMPOSE_PROJECT_NAME}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${OFELIA_LOGFOLDER}:/app/${OFELIA_LOGFOLDER}
    labels:
      save-folder: /app/${OFELIA_LOGFOLDER}

  scanner:
    build: .
    environment:
      PYTHONUNBUFFERED: 1
      BULLETIN_DATA: ${BULLETIN_DATA}
      FTP_DATA: ${FTP_DATA}
      REPORT_BACKUP_DATA: ${REPORT_BACKUP_DATA}
      REPORT_DATA: ${REPORT_DATA}
      INVALID_PROCESSED_REPORTS: ${INVALID_PROCESSED_REPORTS}
    volumes:
      - ${FTP_DATA}:/app/${FTP_DATA}
    restart: always
    labels:
      ofelia.enabled: "true"
      ofelia.job-exec.cleaning.schedule: "0 59 * * * *"
      ofelia.job-exec.cleaning.command: 'sh -c "find ${FTP_DATA} -type f -mtime +1 -delete"'
      ofelia.job-exec.bulletin-generation.schedule: "@hourly"
      ofelia.job-exec.bulletin-generation.command: "/app/cron.py"

  ftp:
    build:
      context: .
      dockerfile: ftp.Dockerfile
      args:
        CERT_FINGERPRINT: ${CERT_FINGERPRINT}
    container_name: ftp
    environment:
      FTP_USER: ${FTP_USER}
      FTP_PASS: ${FTP_PASS}
      PASV_ADDRESS: ${FTP_ADDR}
      PASV_MIN_PORT: ${FTP_MIN_PORT}
      PASV_MAX_PORT: ${FTP_MAX_PORT}
      LOG_STDOUT: YES
      FTP_MODE: ${FTP_MODE}
    ports:
      - "20:20"
      - "21:21"
      - "${FTP_MIN_PORT}-${FTP_MAX_PORT}:${FTP_MIN_PORT}-${FTP_MAX_PORT}"
      - "990:990"
    volumes:
      - ${FTP_DATA}:/home/vsftpd/${FTP_USER}
    restart: always