name: Send Notification To Telegram
on:
  push:
    branches:
    - deployment


jobs:
  notification:
    runs-on: ubuntu-latest
    steps:
      - name: Cloning repository
        uses: actions/checkout@v4
        with:
            ref: deployment
      - name: Send Notification
        shell: bash
        env:
            CHAT_ID: ${{ secrets.CHAT_ID }}
            BOT_ID: ${{ secrets.BOT_ID }}
        run: |
            curl -d chat_id=${CHAT_ID} \
            -d text=$"Project: ${{ github.event.repository.name }}\nNew Commit: ${{ github.sha }}\nBranch: ${{ github.head_ref }}\nMessage: ${{ github.event.head_commit.message }}" \
            https://api.telegram.org/bot${BOT_ID}/sendMessage