name: Send Notification To Telegram
on:
  push:
    branches:
    - deployment


jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Cloning repository
        uses: actions/checkout@v4
        with:
            ref: deployment
      - name: Send Notification
        shell: bash
        env:
            CHAT_ID: ${{ secrets.CHAT_ID }}
            BOT_ID: ${{ secrets.BOT_ID }}
            TOPIC_ID: ${{ secrets.TOPIC_ID }}
        run: |
            curl -d chat_id=${CHAT_ID} -d text="test msg from curl"  https://api.telegram.org/bot${BOT_ID}/sendMessage?message_thread_id=${TOPIC_ID}